@import "tailwindcss";
@plugin "daisyui" {
    themes: lemonade --default, abyss --prefersdark;
}

/* Ensure all buttons have pointer cursor by default */
button, [role="button"] {
  cursor: pointer;
}
button:disabled, [aria-disabled="true"] {
  cursor: not-allowed;
}

html, body {
  overflow-x: hidden;
}
